<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [title]="titleName + ' Credit Note'"></kt-portlet-header>
    <!--begin::Form-->
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="creditNoteForm" #formDirective="ngForm" class="kt-form kt-form--label-align-right">
      <div class="kt-portlet__body">
        <div class="kt-form__section kt-form__section--first">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="row mt-8 mb-5">
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Customer Name: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                  <kt-simple-dropdown (blurEvent)="logValidationErrors(this.creditNoteForm, this.formErrors, this.validationMessages)" (clickEvent)="openBusinessPartnerDialog()"
                                      [errorMessage]="formErrors.customerName"
                                      [optionList]="ngxsService.businessPartners$" clickEventButtonName="Add New Customer" formControlName="customerName"
                                      matFormFieldClass="full-width"
                                      placeholder="Select Customer"
                                      propertyName="name"
                                      propertyValue="id"
                                      searchPlaceholder="Search Customers...">
                  </kt-simple-dropdown>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="form-group kt-form__group mb-0">
                  <label class="col-form-label pt-0">Note Date: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                  <kt-date-input
                    (blurEvent)="logValidationErrors(this.creditNoteForm, formErrors, validationMessages)"
                    [errorMessage]="formErrors.noteDate" [maxDate]="currentDate" formControlName="noteDate"
                    matFormFieldClass="full-width"
                    placeholder="Note Date">
                  </kt-date-input>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="example-container   ">
                  <ng-container formArrayName="creditNoteLines">
                    <div class="table-responsive">
                      <mat-table #table [dataSource]="creditNoteForm.get('creditNoteLines')['controls']">
                        <!-- Account Column -->
                        <ng-container matColumnDef="itemId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Item</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown
                                (clickEvent)="openProductDialog()"
                                (selectionChange)="onItemSelected($event.value, i)"
                                [isRequired]="false"
                                [optionList]="ngxsService.products$"
                                clickEventButtonName="Add New Item"
                                formControlName="itemId"
                                hintText="Optional"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Select Item"
                                propertyName="productName"
                                propertyValue="id">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!--Partner Column-->
                        <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Description <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field
                              [errorMessage]="vs.errTEXT(element, 'description', 'Description')"
                              formControlName="description"
                              matFormFieldClass="mobile-label full-width input_d_1"
                              placeholder="Enter Description">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Description Column -->
                        <ng-container matColumnDef="accountId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Account <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-simple-dropdown [optionList]="ngxsService.accountsLevel4$" errorMessage="Account is required" formControlName="accountId"
                                                  matFormFieldClass="mobile-label full-width input_d_1"
                                                  placeholder="Select Account"
                                                  propertyName="name"
                                                  propertyValue="id">
                              </kt-simple-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Debit Column -->
                        <ng-container matColumnDef="quantity">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Quantity <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field #itemName
                              [errorMessage]="vs.errAMOUNT(element, 'quantity', 'Quantity', {min: 1})"
                              (change)="onChangeEvent($event, i, itemName)"
                              (keyup)="onChangeEvent($event, i, itemName)"
                              formControlName="quantity"
                              matFormFieldClass="mobile-label full-width input_d_1"
                              placeholder="Enter Quantity"
                              type="number">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Credit Column -->
                        <ng-container matColumnDef="price">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Price <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field #itemName
                              [errorMessage]="vs.errAMOUNT(element, 'price', 'Price', {min: 1})"
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)"
                                formControlName="price"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Enter Price"
                                type="number">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Location Column -->
                        <ng-container matColumnDef="tax">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Tax%</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field
                                #itemName
                                (change)="onChangeEvent($event , i , itemName)"
                                (keyup)="onChangeEvent($event , i , itemName)"
                                [errorMessage]="vs.errAMOUNT(creditNoteForm, 'tax', 'Tax', {max: 100})"
                                hintText="Optional"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Enter Tax %"
                                type="number">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="subTotal">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> SubTotal</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-input-field formControlName="subTotal"
                                              matFormFieldClass="mobile-label full-width input_d_1">
                              </kt-input-field>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Location Column -->
                        <ng-container matColumnDef="locationId">
                          <mat-header-cell *matHeaderCellDef class="flex-1"> Location</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <div class="col-lg-12 col-sm-12 mt-2">
                              <kt-group-dropdown
                                (clickEvent)="openLocationDialog()"
                                [errorMessage]="'Location is Required'"
                                [optionList]="ngxsService.locations$"
                                clickEventButtonName="Add New Location"
                                formControlName="locationId"
                                groupChildrenName="locations"
                                groupPropertyName="warehouse"
                                matFormFieldClass="mobile-label full-width input_d_1"
                                placeholder="Location">
                              </kt-group-dropdown>
                            </div>
                          </mat-cell>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef class="flex-1">Action</mat-header-cell>
                          <mat-cell *matCellDef="let element;  let i = index" [formGroup]="element" class="flex-1">
                            <button (click)="removeCreditNoteLineClick(i); totalCalculation()" class=" app-remove-btn"
                                    type="button">
                              <i aria-hidden="true" class="fas fa-trash"></i>
                            </button>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                  </ng-container>

                  <ng-container>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <button (click)="addCreditNoteLineClick()" class=" app-add-new-line-btn" type="button">
                          <i aria-hidden="true" class="fas fa-plus"> </i> Add New Line
                        </button>
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>
            </div>

            <div class="row mt-10">
              <div class="col-md-4 col-lg-4  ml-auto mt-3">
                <!-- <table class="table table-bordered small_table_box">
                  <tr>
                    <th class="text-right" style="width: 70%;">Total Before Tax :</th>
                    <td class="text-right" style="background-color: #f2f2f2; font-weight: bold;">
                      {{valueFormatter(totalBeforeTax || 0)}}</td>
                  </tr>
                  <tr>
                    <th class="text-right">Total Tax :</th>
                    <td class="text-right" style="background-color: #f2f2f2; font-weight: bold;">
                      {{valueFormatter(totalTax || 0)}}</td>
                  </tr>
                  <tr>
                    <th class="text-right"
                        style="background-image: linear-gradient(to right, #20222a, #2b335d); color: #fff;">Grand Total
                      :
                    </th>
                    <td class="text-right" style="background-color: #f2f2f2; font-weight: bold;">
                      {{valueFormatter(grandTotal || 0)}}</td>
                  </tr>
                </table> -->
                <div class="bottom-print-box">
                  <h4 >Total Before Tax :
                    <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalBeforeTax || 0)}}</span>
                  </h4>
                </div>
                <div class="bottom-print-box">
                  <h4 >Total Tax :
                    <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalTax || 0)}}</span>
                  </h4>
                </div>
                <div class="bottom-print-box">
                  <h4 >Grand Total :
                    <span class="float-right" style="font-weight: 400;">{{valueFormatter(grandTotal || 0)}}</span>
                  </h4>
                </div>
              </div>
            </div>

          </div>


          <!--Credit Note Lines-->

        </div>
      </div>
      <kt-btn-form-draft
        [validate]="{form:creditNoteForm, errors: formErrors, messages: validationMessages}"
        (resetAction)="reset()"
        (submitAction)="isSubmit($event)"
      ></kt-btn-form-draft>
    </form>
  </kt-portlet>
</div>
