<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'"
                       [title]="'Requisition Detail'">
      <ng-container ktPortletTools>
        <div class="ribbon-target"><span
          class="ribbon-inner {{requisitionMaster?.status}}"></span> {{requisitionMaster?.status}}</div>
      </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12 mb-5">
        <div class="row">
          <div class="col-md-12 col-12 pb-3 text-right">
            <ng-container ktPortletTools>
              <button [routerLink]="'/'+ PURCHASE_REQUISITION.ID_BASED_ROUTE ('print',requisitionMaster?.id) "
                      class="btn-detail-print mr-3"
                      type="button">
                <i class="fa fa-print"></i> Print Requisition
              </button>

              <!--TODO: Uncomment when creating Process-->
              <!--<button
                [disabled]="!(permission.isGranted(permissions.BILL_CREATE))"
                [ngClass]="!(permission.isGranted(permissions.BILL_CREATE)) ? 'disable' : '' "
                [queryParams]="{q: requisitionMaster?.id, 'isPurchaseOrder': true}"
                [routerLink]="'/'+BILL.CREATE" class="btn btn-md btn-default mr-3 app-text-primary"
                type="button">
                Create Bill
              </button>
              <button
                [disabled]="!(permission.isGranted(permissions.GRN_CREATE))"
                [ngClass]="!(permission.isGranted(permissions.GRN_CREATE)) ? 'disable' : '' "
                [queryParams]="{q: requisitionMaster?.id, 'isPurchaseOrder': true}"
                [routerLink]="'/'+GOODS_RECEIVED_NOTE.CREATE" class="btn btn-md btn-default mr-3 app-text-primary"
                type="button">
                Create GRN
              </button>-->

              <!--TODO: change permission from purchase Order to Purchase Requisition-->
              <button *ngIf="requisitionMaster?.state === docStatus.Draft"
                      [disabled]="!(permission.isGranted(permissions.PURCHASEORDER_EDIT))"
                      [ngClass]="!(permission.isGranted(permissions.PURCHASEORDER_EDIT)) ? 'disable' : '' "
                      [queryParams]="{q: requisitionMaster?.id, 'isPurchaseOrder': true}"
                      [routerLink]="'/'+ PURCHASE_REQUISITION.ID_BASED_ROUTE ('edit',requisitionMaster?.id) "
                      class="mr-3 app-edit-btn"
                      type="button">
                <i class="fa fa-edit"></i> Edit
              </button>
            </ng-container>
          </div>

          <div class="col-md-4 col-lg-4 mt-3">
            <div class="print-box">
              <h4>Requisition No:
                <span class="float-right">{{requisitionMaster?.docNo}}</span></h4>
            </div>
            <div class="print-box">
              <h4>Vendor Name:
                <span class="float-right">{{requisitionMaster?.vendorName}}</span></h4>
            </div>
            <div class="print-box">
              <h4>Requisition Date:
                <span class="float-right">{{requisitionMaster?.requisitionDate | date: 'MMM d, y'}}</span></h4>
            </div>
          </div>
          <kt-ra-grid-offline [raGridProperties]="raGridProperties"></kt-ra-grid-offline>
          <!--<div class="col-md-4 col-lg-4 ml-auto mt-3">
            <div class="bottom-print-box">
              <h4 >Total Before Tax :
                <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalBeforeTax || 0)}}</span>
              </h4>
            </div>
            <div class="bottom-print-box">
              <h4 >Total Tax :
                <span class="float-right" style="font-weight: 400;">{{valueFormatter(totalTax || 0)}}</span>
              </h4>
            </div>
            <div class="bottom-print-box">
              <h4 >Total Amount:
                <span class="float-right" style="font-weight: 400;">{{valueFormatter(total || 0)}}</span>
              </h4>
            </div>
          </div>-->
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions kt-form__actions">
        <div class="row ">
          <div *ngIf="requisitionMaster?.isAllowedRole" class="col-lg-12 text-right">
            <button (click)="workflow(action.Reject)" class="mr-5 danger__btn" mat-raised-button>Reject</button>
            <button (click)="workflow(action.Approve)" class="success__btn" mat-raised-button>Approve</button>
          </div>
        </div>
      </div>
    </div>
  </kt-portlet>
</div>
