<div [ktBusy]="isLoading" class="kt-portlet" style="overflow :hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header"> Add Payment
          <span (click)="onCloseDialog()" class="dialog-cross"><i class="fa fa-times float-right"></i></span>
        </h3>
      </div>
    </div>
  </div>

  <form autocomplete="off" #formDirective="ngForm" (ngSubmit)="onSubmit()" [formGroup]="registerPaymentForm"
        class="kt-form kt-form--label-align-right">
    <div class="kt-portlet__body">
      <div class="kt-form__section kt-form__section--first">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Date:</label>
                <kt-date-input
                  formControlName="paymentDate"
                  placeholder="Payment Date"
                  (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.paymentDate"
                  [maxDate]="maxDate">
                </kt-date-input>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Register Type:</label>
                <mat-radio-group (change)="loadAccountList($event)" formControlName="registerType"
                                 aria-label="Select an option">
                  <mat-radio-button [value]="1">Cash Account</mat-radio-button>
                  <mat-radio-button [value]="2">Bank Account</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Payment Register:</label>
                <kt-simple-dropdown
                  placeholder="Select Payment Register"
                  searchPlaceholder="Search Accounts..."
                  [propertyValue]="propertyValue"
                  [propertyName]="propertyName"
                  formControlName="paymentRegister"
                  matFormFieldClass="full-width"
                  (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                  [errorMessage]="formErrors.paymentRegister"
                  [optionList]="paymentRegisterList">
                </kt-simple-dropdown>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Gross Payment:</label>
                <kt-input-field
                  formControlName="grossPayment"
                  type="number"
                  [min]="0"
                  placeholder="Enter Gross Payment"
                  (blurEvent)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)"
                  [errorMessage]="[{ condition : formErrors.grossPayment , error : formErrors.grossPayment }]">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Discount:</label>
                <kt-input-field
                  formControlName="discount"
                  type="number"
                  placeholder="Enter Discount">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Sales Tax W/H:</label>
                <kt-input-field
                  formControlName="salesTax"
                  type="number"
                  placeholder="Enter Sales Tax">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Income Tax W/H:</label>
                <kt-input-field
                  formControlName="incomeTax"
                  type="number"
                  placeholder="Enter Income Tax">
                </kt-input-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group kt-form__group mb-0">
                <label class="col-form-label pt-0">Description:</label>
                <kt-input-field
                  formControlName="description"
                  placeholder="Enter Description"
                  (blurEvent)="logValidationErrors(this.registerPaymentForm, formErrors, validationMessages)"
                  [errorMessage]="[{ condition : formErrors.description , error : formErrors.description }]">
                </kt-input-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="kt-portlet__foot p-5">
      <!-- form action starts -->
      <div class="kt-form__actions kt-form__actions">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-6 ">
            <h6 class="app-text-primary">Net Payment:
              <strong>{{ netPayment | number: "1.2-2" }}</strong></h6>
          </div>
          <div class="col-lg-6 text-right">
              <button (click)="reset()" class="mr-3 app-reset-btn" type="button"><i class="fas fa-undo"></i> Reset</button>
              <button class="app-default-btn" type="submit"
                      (click)="logValidationErrors(this.registerPaymentForm, this.formErrors, this.validationMessages)">
                      <i class="far fa-save"></i> Submit
              </button>
          </div>

        </div>
        <!-- form action ends-->
      </div>
    </div>
  </form>
</div>

