<div [ktBusy]="isLoading" class="kt-portlet" style="overflow : hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header"> {{formName}} <span (click)="onCloseDialog()" class="dialog-cross"><i
          class="fa fa-times float-right"></i></span></h3>
      </div>
    </div>
  </div>
  <!-- form start -->
  <form autocomplete="off" #formDirective="ngForm" (ngSubmit)="onSubmit()" [formGroup]="warehouseForm"
        class="kt-form kt-form--label-align-right">
    <!-- portlet body starts -->
    <div class="kt-portlet__body">
      <!-- form first section starts -->
      <div class="kt-form__section kt-form__section--first">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <!-- first row starts -->

          <div class="row">

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">Warehouse: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                <kt-input-field
                [errorMessage]="vs.errTEXT(warehouseForm, 'name', ' Warehouse Name')"
                  formControlName="name"
                  placeholder="Enter Warehouse Name">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">Supervisor/Manager:</label>
                <kt-input-field
                  hintText="Optional"
                  formControlName="manager"
                  placeholder="Enter Supervisor/Manager">
                </kt-input-field>
              </div>
            </div>

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">Department: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                <kt-simple-dropdown
                  (blurEvent)="logValidationErrors(warehouseForm, formErrors, validationMessages)"
                  (clickEvent)="openDepartmentDialog()"
                  [errorMessage]="formErrors.department"
                  [isDisabled]="disableDropdown"
                  [optionList]="ngxsService.departments$"
                  clickEventButtonName="Add New Department"
                  formControlName="department"
                  matFormFieldClass="full-width"
                  placeholder="Select Department"
                  propertyName="name"
                  propertyValue="id"
                  searchPlaceholder="Search Department">
                </kt-simple-dropdown>
              </div>
            </div>

          </div>
          <!-- first row ends -->
          <!-- second row starts -->
          <div class="row">

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">Country:</label>
                <kt-simple-dropdown
                  (selectionChange)="onChangeCountry($event.value)"
                  [isDisabled]="disableDropdown"
                  [optionList]="countryList"
                  formControlName="country"
                  hintText="Optional"
                  isRequired="false"
                  matFormFieldClass="full-width"
                  placeholder="Select Country"
                  propertyName="name"
                  propertyValue="id"
                  searchPlaceholder="Search Country">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">State:</label>
                <kt-simple-dropdown
                  (selectionChange)="onChangeState($event.value)"
                  [isDisabled]="disableDropdown"
                  [optionList]="stateList2"
                  formControlName="state"
                  hintText="Optional"
                  isRequired="false"
                  matFormFieldClass="full-width"
                  placeholder="Select State"
                  propertyName="name"
                  propertyValue="id"
                  searchPlaceholder="Search State">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-4 col-md-4">
              <div class="form-group kt-form__group pt-2 mb-0 pb-0">
                <label class="col-form-label pt-0">City:</label>
                <kt-simple-dropdown
                  [isDisabled]="disableDropdown"
                  [optionList]="cityList2"
                  formControlName="city"
                  hintText="Optional"
                  isRequired="false"
                  matFormFieldClass="full-width"
                  placeholder="Select City"
                  propertyName="name"
                  propertyValue="id"
                  searchPlaceholder="Search City">
                </kt-simple-dropdown>
              </div>
            </div>
          </div>

          <!-- second row ends -->
          <!-- third row starts -->

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group kt-form__group mb-0 ">
                <label class="col-form-label"> Address: </label>
                <kt-input-field
                  [errorMessage]="vs.errTEXT(warehouseForm, 'address', 'Address')"
                  hintText="Optional"
                  formControlName="address"
                  placeholder="Enter Address">
                </kt-input-field>
              </div>
            </div>
          </div>
          <!-- third row ends -->
        </div>
      </div>
      <!-- form first section ends -->
    </div>
    <kt-btn-form-actions
      [editDisplay]="isEditButtonShow"
      [permissionz]="permissions.WAREHOUSE_EDIT"
      [validate]="{form:warehouseForm, errors: formErrors, messages: validationMessages}"
      (resetAction)="reset()"
      (toggleEdit)="toggleEdit()"
    ></kt-btn-form-actions>
  </form>
</div>
