<div [ktBusy]="isLoading">
  <kt-portlet>
    <kt-portlet-header [class]="'card-head-lg ribbon ribbon-clip ribbon-right'"
                       [title]="'Goods Received Note Detail'">
      <ng-container  ktPortletTools>
        <div class="ribbon-target "><span
          class="ribbon-inner {{grnMaster?.status}}"></span> {{grnMaster?.status}}</div>
      </ng-container>

      <!--<ng-container ktPortletTools>
        <button [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE ('print',grnMaster?.id)" class="btn_white mr-3"
                mat-raised-button type="button">
          Print GRN
        </button>
        <button *ngIf="grnMaster?.state === docStatus.Draft"
                [disabled]="!(permission.isGranted(permissions.GRN_EDIT))"
                [ngClass]="!(permission.isGranted(permissions.GRN_EDIT)) ? 'disable' : '' "
                [queryParams]="{q: grnMaster?.id, 'isGRN': true}"
                [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE ('edit',grnMaster?.id)" class="btn_white mr-3"
                mat-raised-button
                type="button">
          Edit
        </button>
      </ng-container>-->
    </kt-portlet-header>
    <kt-portlet-body>
      <div class="col-md-12 col-lg-12">

        <div class="row">
          <div class="col-md-12 col-12 pb-3 text-right">
            <ng-container ktPortletTools>
              <button [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE ('print',grnMaster?.id)"
                      class="btn-detail-print mr-3"
                      type="button">
                <i class="fa fa-print"></i>&nbsp;Print GRN
              </button>
              <button *ngIf="grnMaster?.state === docStatus.Draft"
                      [disabled]="!(permission.isGranted(permissions.GRN_EDIT))"
                      [ngClass]="!(permission.isGranted(permissions.GRN_EDIT)) ? 'disable' : '' "
                      [queryParams]="{q: grnMaster?.id, 'isGRN': true}"
                      [routerLink]="'/'+ GOODS_RECEIVED_NOTE.ID_BASED_ROUTE ('edit',grnMaster?.id)"
                      class="app-edit-btn mr-3"
                      type="button">
                <i class="fa fa-edit"></i>&nbsp;Edit
              </button>
              <mat-divider class="mt-3"></mat-divider>
            </ng-container>
          </div>

          <div class="col-md-4 col-lg-4 mt-3">
            <div class="print-box">
              <h4>GRN No:
                <span class="float-right">{{grnMaster?.docNo}}</span></h4>
            </div>
            <div class="print-box">
              <h4>Vendor Name:
                <span class="float-right" style="font-weight: 400;">{{grnMaster?.vendorName}}</span></h4>
            </div>
            <div class="print-box">
              <h4>GRN Date:
                <span class="float-right"
                      style="font-weight: 400;">{{grnMaster?.docDate | date: 'MMM d, y'}}</span></h4>
            </div>
          </div>
          <kt-ra-grid-offline [raGridProperties]="raGridProperties"></kt-ra-grid-offline>
        </div>
      </div>
    </kt-portlet-body>

    <mat-divider class="mt-10"></mat-divider>

    <div class="kt-portlet__foot">
      <div class="kt-form__actions kt-form__actions">
        <div class="row ">
          <div *ngIf="grnMaster?.isAllowedRole" class="col-lg-12 text-right">
            <button (click)="workflow(action.Reject)" class="mr-5 danger__btn" mat-raised-button>Reject</button>
            <button (click)="workflow(action.Approve)" class="success__btn" mat-raised-button>Approve</button>
          </div>
        </div>
      </div>
    </div>
  </kt-portlet>
</div>
