<div class="container" *ngIf="!success" [ktBusy]="loading">
  <!--style="position: absolute !important; left: 38%; top: 25%;"-->
  <div class="row vh-100">
    <div class="col-12 my-auto">
      <div class="jumbotron mx-auto col-6" style="border: 1px #283655 solid;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <a href="javascript:;" routerLink="/" class="brand-logo">
                <img style="width: 300px" alt="logo" src="assets/media/logos/final-logo-new-xs.png"/>
              </a>
              <h2 class="text-center">Forgot Password?</h2>
              <p>You can reset your password here.</p>
              <div class="panel-body">
                <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="forgotPasswordForm" id="register-form" role="form"
                      autocomplete="off" class="form" method="post">
                  <div class="form-group col-8 mx-auto">
                    <div class="input-group" style="border: 1px solid #283655; border-radius: 7px;">
                      <input (blur)="logValidationErrors(forgotPasswordForm, formErrors, validationMessages)"
                             formControlName="email" id="email" name="email" placeholder="email address"
                             class="form-control" type="email">
                    </div>
                  </div>
                  <div class="form-lgroup col-8 mx-auto">
                    <input name="recover-submit" style="background: #283655; color: #FFFFFF"
                           class="btn btn-lg btn-block" value="Reset Password"
                           type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="success" [ktBusy]="loading">
  <!--style="position: absolute !important; left: 38%; top: 25%;"-->
  <div class="row vh-100">
    <div class="col-12 my-auto">
      <div class="jumbotron mx-auto col-6" style="border: 1px #283655 solid;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <a href="javascript:;" routerLink="/" class="brand-logo">
                <img class="mb-10" style="width: 300px" alt="logo" src="assets/media/logos/final-logo-new-xs.png"/>
              </a>
              <h2 class="text-center">Password Reset Request Success!</h2>
              <p>An email with password reset link
                has been sent to <a class="font-weight-boldest"
                                    href="JAVASCRIPT:void(0)">{{forgotPasswordForm?.value?.email}}</a>.</p>
              <div class="panel-body">
                <!--<a class="btn btn-success" (click)="goBack()" href="JavaScript:void(0)">Login</a>-->
                <div class="form-lgroup col-8 mx-auto">
                  <input type="submit" name="recover-submit" style="background: #283655; color: #FFFFFF" class="btn btn-lg btn-block"
                         (click)="goBack()" value="Back to Login">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
