.form-group {
  padding-bottom: 0 !important;
}

.input-group {
  border: 1px solid #283655;
  border-radius: 7px;
}

.btn:hover{
  color: #FFFFFF !important;
}

.btn-lg {
  color: #FFFFFF;
  background: #283655 !important;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
