<div class="container" *ngIf="!success" [ktBusy]="loading">
  <!--style="position: absolute !important; left: 38%; top: 25%;"-->
  <div class="row vh-100">
    <div class="col-12 my-auto">
      <div class="jumbotron mx-auto col-6" style="border: 1px #283655 solid;">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <a href="javascript:;" routerLink="/" class="brand-logo">
                <img style="width: 300px" alt="logo" src="assets/media/logos/final-logo-new-xs.png"/>
              </a>
              <h2 class="text-center">Create New Password</h2>
              <div class="panel-body">
                <form autocomplete="off" (ngSubmit)="submit()" [formGroup]="setPasswordForm" id="register-form" role="form"
                      autocomplete="off" class="form" method="post">
                  <div class="form-group col-8 mx-auto">
                    <div class="input-group">
                      <input (keydown)="keydown()" (blur)="logValidationErrors(setPasswordForm, formErrors, validationMessages)"
                             formControlName="password" id="password" name="password" placeholder="Enter New Password"
                             class="form-control" type="password">
                    </div>
                  </div>
                  <div *ngIf="showRequirements" class="col-8 mx-auto">
                    <ul style="list-style-type: none; text-align: justify; padding: 0">
                      <li style="padding: 10px 0 0 13px;">
                        <label
                          [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons"
                             [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                            {{ setPasswordForm.controls['password'].hasError('required') ||
                          setPasswordForm.controls['password'].hasError('minlength') ? 'cancel' :
                            'check_circle' }}
                          </i>
                          Must be at least 8 characters!
                        </label>
                      </li>
                      <li>
                        <label
                          class="col"
                          [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                          <i class="material-icons"
                             [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">

                            {{ setPasswordForm.controls['password'].hasError('required') ||
                          setPasswordForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                            'check_circle' }}
                          </i>
                          Must contain at least 1 number!
                        </label>
                      </li>
                      <li>
                        <label
                          class="col"
                          [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
                        >
                          <i class="material-icons"
                             [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'"
                          >
                            {{ setPasswordForm.controls['password'].hasError('required') ||
                          setPasswordForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                            'check_circle' }}
                          </i>
                          Must contain at least 1 in Capital Case!
                        </label>
                      </li>
                      <li>
                        <label
                          class="col"
                          [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
                        >
                          <i class="material-icons"
                             [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'"
                          >
                            {{ setPasswordForm.controls['password'].hasError('required') ||
                          setPasswordForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                            'check_circle' }}
                          </i>
                          Must contain at least 1 Letter in Small Case!
                        </label>
                      </li>
                      <li>
                        <label
                          class="col"
                          [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'"
                        >
                          <i class="material-icons"
                             [ngClass]="setPasswordForm.controls['password'].hasError('required') || setPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'"
                          >
                            {{ setPasswordForm.controls['password'].hasError('required') ||
                          setPasswordForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                            'check_circle' }}
                          </i>
                          Must contain at least 1 Special Character!
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-group col-8 mx-auto">
                    <div class="input-group">
                      <input (blur)="logValidationErrors(setPasswordForm, formErrors, validationMessages)"
                             formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
                             placeholder="Confirm New Password"
                             class="form-control" type="password">
                    </div>
                  </div>
                  <div
                    *ngIf="setPasswordForm.controls.confirmPassword.invalid && setPasswordForm.controls.confirmPassword.dirty"
                    class="col-8 mx-auto">
                    <label style="padding:10px 25px 0 0;" class="col"
                           [ngClass]="setPasswordForm.controls['confirmPassword'].hasError('required') || setPasswordForm.controls['confirmPassword'].hasError('ConfirmPassword') ? 'text-danger' : 'text-success'">
                      Password and Confirm Password doesn't Match!
                    </label>
                  </div>
                  <div class="form-group col-8 mx-auto">
                    <input name="recover-submit" class="btn btn-lg btn-block" value="Submit"
                           type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
