.error_msg
{
    color: #f64e60 !important;
}

.error_msg_pass
{
    color: #f64e60 !important ;
}


.top-vector img
{
    height: 150px;
    position: absolute;
    top: 20px;
    right: 30px;
    /* background-color: #f8fcff; */
    /* border-radius: 50%; */
}

.bottom-vector img
{
    height: 150px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    /* background-color: #f8fcff; */
    /* border-radius: 50%; */
}


.middle-vector img
{
    height: 100px;
    position: absolute;
    bottom: 50px;
    right: -20px;
    /* background-color: #f8fcff; */
    /* border-radius: 50%; */
}

.info-text img
{
    height: 450px;
}