<div [ktBusy]="isLoading" class="kt-portlet" style="overflow : hidden;">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-caption">
      <div class="kt-portlet__head-title">
        <h3 class="kt-portlet__head-text modal-header"> {{formName}}
          <span (click)="onCloseDialog()" class="dialog-cross"><i class="fa fa-times float-right"></i></span>
        </h3>
      </div>
    </div>
  </div>
  <!-- form start -->
  <form autocomplete="off" #formDirective="ngForm" (ngSubmit)="onSubmit()" [formGroup]="locationForm"
        class="kt-form kt-form--label-align-right">
    <!-- portlet body starts -->
    <div class="kt-portlet__body">
      <!-- form first section starts -->
      <div class="kt-form__section kt-form__section--first">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <!-- first row starts -->
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group kt-form__group pt-2 pb-0 mb-0">
                <label class="col-form-label pt-0">Location: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                <kt-input-field
                  [errorMessage]="vs.errTEXT(locationForm, 'name', 'Location Name')"
                  formControlName="name"
                  placeholder="Enter Location Name">
                </kt-input-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group kt-form__group pt-2 pb-0 mb-0">
                <label class="col-form-label pt-0">Dimension:</label>
                <kt-input-field
                  hintText="Optional"
                  [errorMessage]="vs.errAMOUNT(locationForm, 'dimensions')"
                  formControlName="dimensions"
                  placeholder="Enter Dimension">
                </kt-input-field>
              </div>
            </div>
          </div>
          <!-- first row ends -->
          <!-- second row starts -->
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group kt-form__group pt-2 pb-0 mb-0">
                <label class="col-form-label pt-0">Warehouse: <i class="fa fa-asterisk" aria-hidden="true" style="color: #eb4c5d;font-size: 8px;position: relative;top: -5px;"></i></label>
                <kt-simple-dropdown
                  (blurEvent)="logValidationErrors(locationForm, formErrors, validationMessages)"
                  (clickEvent)="openWarehouseDialog()"
                  [errorMessage]="formErrors.warehouse"
                  [isDisabled]="disableDropdown"
                  [optionList]="ngxsService.warehouses$"
                  clickEventButtonName="Add New Warehouse"
                  formControlName="warehouse"
                  matFormFieldClass="full-width"
                  placeholder="Select Warehouse"
                  propertyName="name"
                  propertyValue="id"
                  searchPlaceholder="Search Warehouse">
                </kt-simple-dropdown>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="form-group kt-form__group pt-2 pb-0 mb-0">
                <label class="col-form-label pt-0">Supervisor/Manager:</label>
                <kt-input-field
                  [errorMessage]="vs.errTEXT(locationForm, 'supervisor')"
                  hintText="Optional"
                  formControlName="supervisor"
                  placeholder="Enter Supervisor/Manager">
                </kt-input-field>
              </div>
            </div>
          </div>
          <!-- second row ends -->
        </div>
      </div>
      <!-- form first section ends -->
    </div>
    <!-- portlet body ends -->
    <mat-divider></mat-divider>
    <!-- portlet footer start -->
    <div class="kt-portlet__foot p-5">
      <!-- form action starts -->
      <div class="kt-form__actions kt-form__actions">
        <div class="row">
          <div class="col-lg-12 text-right">
              <button (click)="reset()" class="mr-3 app-reset-btn" type="button"><i class="fas fa-undo"></i> Reset</button>
              <button (click)="logValidationErrors(this.locationForm, this.formErrors, this.validationMessages)" *ngIf="!isEditButtonShow"  class="app-default-btn"
              type="submit"><i class="far fa-save"></i> Submit
              </button>
              <button (click)="toggleEdit()" *ngIf="isEditButtonShow"
              [disabled]="!(permission.isGranted(permissions.LOCATION_EDIT))" class="app-edit-btn" type="button"
              ><i class="fa fa-edit"></i> Edit</button>
          </div>
        </div>
      </div>
      <!-- form action ends-->
    </div>
    <!-- portlet footer ends -->
  </form>
  <!-- form ends -->
</div>
